@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-opensans: "Open Sans", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #f8fafc;
  color: #1e293b;
}
